* {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    color: black;
}

button {
    background-color: darkgreen;
    color: rgb(219, 230, 162);

    border: solid 1px rgb(87, 131, 18);
}

textarea {
    height: 70px;
}