<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row g-2 justify-content-center">
    <div 
      class="col-3 col-md-2 d-flex justify-content-center" 
      *ngFor="let table of tables"
      [class.pointer-disabled]="!table.estOccupee"
      [style.cursor]="table.estOccupee ? 'pointer' : 'not-allowed'"
      (click)="table.estOccupee && check_or_add_commande(table.id, table.numeroTable)"
    > 
      <app-table-item
      [numero]="table.numeroTable"
      [estOccupee]="table.estOccupee">
    </app-table-item>
  </div>
</div>
</div>