.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-icon {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.btn-icon:hover {
  background-color: #f0f0f0;
}
