* {
	margin:0;
}

header {
	height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
}

header a {
	margin-top: 10px;
	text-decoration: none;
	color: black;
}

#reels{
	margin-top: 10px;
	margin-left: 15px;
}
#reels img {
	height: 20px;
}

#navigation {
	height:100%;
    display: flex;
    flex-direction:row;
}

.navigation_option {
	height: 100%;
	width: 100px;
	border: solid 1px grey;
	text-align: center;
}

.navigation_option a{
	margin-top: 10px;
}

main {
	padding-left:15px;
	padding-right: 15px;
}

h1 {
    color: grey;
}

h1 span {
    color: black;
    font-size: xxx-large;
}

h2 {
	margin-top: 15px;
    color: blue;
}

p {
	margin-top: 10px;
}

#learn_button{
	margin-top: 20px;
}

#index_content, #about_content{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

#index_content button, input[type=submit] {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 3px;
    padding:5px;
}

.movie_form {
	margin-top: 15px;
	width: 100%;
	display: grid;
	grid-template-columns: 100px 1fr;
	column-gap: 5px;
	row-gap:10px;
	font-weight: bold;
}

#movie_table{
	margin-top: 15px;
	width: 100%;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-collapse: collapse;
}

#category_table{
	margin-top: 15px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-collapse: collapse;	
}

#movie_table tr:nth-child(even), #category_table tr:nth-child(even) {
	background-color: lightgray;
}

#movie_table a {
	color: blue;
	text-decoration: none;
}

#movie_table td, #category_table td {
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

#movie_table thead, #category_table thead {
	text-align: left;
    height:35px;
    background-color: lightgray;
}

.category_id_cell {
	padding-left: 15px;
}

.category_name_cell {
	text-align: center;
	width: 500px;
}

#category_table a{
	padding-right: 15px;	
}

.edit_delete{
	height: 30px;
}

.edit_button{
	height:20px;
}
