@charset "UTF-8";

.navbar {
    background-color: #fff;
    height: 100px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
 }

 .navbar-brand {
    font-family: "neulis-cursive", sans-serif;
    color: #000;
    font-weight: 700;
    font-style: normal;
 }
 
 .btn-primary {
    background-color: #009970;
    border-color: #009970;
    color: #fff;
    font-family: "Raleway", serif;
    text-decoration: none;
    transition: 0.3s background-color;
 }

 .btn-primary:hover {
    background-color: #095228;
    border-color: #095228;
 }

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    font-family: "Raleway", sans-serif;
    color: #000;
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 80%;
        visibility: visible;
    }
}

.hero-section {
    background: url(../img/authentic-italian-pasta.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height : 100vh;
}

@media (max-width: 991px) {
    .hero-section {
        background-position: right center; /* Ajuste la position pour petits écrans */
        min-height: 60vh; /* Réduit la hauteur sur petits écrans */
    }
}


.apropos {
    width: 100%;
    min-height: 80vh;
    padding: 5rem 2rem;
}

#titre {
    font-family: "neulis-cursive", sans-serif;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(2.5rem, 7vw, 7em);
}


h2 {
    text-align: center;
    font-family: "neulis-cursive", sans-serif;
    color: #000;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 5em);
}

.social-icon {
    color: #009970 !important; 
    transition: color 0.3s ease-in-out; 
}

.social-icon:hover {
    color: #095228 !important;
}


.formulaire_utilisateur {
	height: 80vh;
}

.taille-navbar {
	padding-top: 140px;
}

ul {
	list-style-type : none;
	padding: 0;
	margin: 0;
}

.vert {
	color: #009970;
}

img.restaurant-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.titrereservation {
	text-align: center;
    font-family: "neulis-cursive", sans-serif;
    font-weight: 700;
}

.titreformulaire {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

input[type=checkbox]{
    accent-color: #009970;
}