*:hover {
    cursor: pointer;
}

.carre_employe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.5em;
}

.description_employe {
    font-size: 1.2em;
    color: white;
}

.supprimer_employe:hover{
    background-color: rgb(236, 35, 20);
    border-radius: 5px;
}