<div class="container vh-100 d-flex flex-column justify-content-center">
    <div class="card">
        <h2 class="text-center mt-3">Ajouter un employé</h2>
        <form [formGroup]="formulaire_creation" (submit)="ajouterEmploye()" class="p-3">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="prenom"  formControlName="prenom" [ngClass]="{'input_incorrect' : afficher_erreur('prenom', 'required')}">
                    <span *ngIf="afficher_erreur('prenom', 'required')">Champ requis</span>
                  </div>
                  <div class="mb-3 col-6">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" formControlName="nom" [ngClass]="{'input_incorrect' : afficher_erreur('nom', 'required')}">
                    <span *ngIf="afficher_erreur('nom', 'required')">Champ requis</span>
                </div>
            </div>
            <div>
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" name="login" id="login" formControlName="login" [ngClass]="{'input_incorrect' : afficher_erreur('login', 'required')}">
                <span *ngIf="afficher_erreur('login', 'required')">Champ requis</span>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" formControlName="email">
            </div>
            <div>
                <label for="telephone" class="form-label">Téléphone</label>
                <input type="tel" class="form-control" name="telephone" id="telephone" formControlName="telephone">
            </div>
            <button type="submit" class="btn btn-success vert w-100 mt-3" [disabled]="!formulaire_creation.valid">Ajouter</button>  
        </form>
    </div>
</div>
